<a href="https://colab.research.google.com/github/styxOO7/Machine-Learning-/blob/main/Decision_Trees%26RandomForests.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Decision Trees**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# making dataFrame manually:
# data = {'Name':['Tom', 'nick', 'krish', 'jack'],
#         'Age':[20, 21, 19, 18]}
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/csvs/dt.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [ ]:
# get unique values of columns:
df.company.unique()

array(['google', 'abc pharma', 'facebook'], dtype=object)

In [ ]:
# seperate the target value from df:
inputs = df.drop('salary_more_then_100k', axis = 'columns')
target = df['salary_more_then_100k']
inputs.head()

  company                  job     degree
0  google      sales executive  bachelors
1  google      sales executive    masters
2  google     business manager  bachelors
3  google     business manager    masters
4  google  computer programmer  bachelors

**Label Encoding**

In [ ]:
from sklearn.preprocessing import LabelEncoder

# make label encoder for each label:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [ ]:
# assign values after scaling:
inputs['company_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_job.fit_transform(inputs['job'])
inputs['degree_n'] = le_degree.fit_transform(inputs['degree'])

inputs.head()

  company                  job     degree  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

**Making a Filtered dataframe:**

In [ ]:
inputs_n = inputs.drop(['company', 'job', 'degree'], axis = 'columns')
inputs_n.head()

   company_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

**Train Test Split**

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(inputs_n, target, test_size = 0.2, random_state=2)
x_test

    company_n  job_n  degree_n
12          1      0         0
4           2      1         0
5           2      1         1
0           2      2         0

**Training the Model**

In [ ]:
from sklearn import tree
model = tree.DecisionTreeClassifier()   #model created
model.fit(x_train, y_train)             #fitting
model.score(x_test, y_test)

0.75

In [ ]:
model.predict([[2,2,1]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([0])

# **Practice Titanic Data Set**

In [9]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/csvs/titanic.csv')
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [10]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [11]:
x = df.drop(['Survived', 'Cabin', 'Name', 'SibSp', 'Parch', 'PassengerId', 'Embarked', 'Ticket'], axis = 'columns')
target = df['Survived']
x.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

**Handling Null Values:**

In [12]:
x.Pclass = x.Pclass.fillna(x.Pclass.median())
x.Fare = x.Fare.fillna(x.Fare.mean())
x.Age = x.Age.fillna(x.Age.mean())

**Label Encoding**

In [13]:
from sklearn.preprocessing import LabelEncoder
le_X = LabelEncoder()

In [14]:
x['Sex'] = le_X.fit_transform(x['Sex'])
x.Sex.head()

0    1
1    0
2    0
3    0
4    1
Name: Sex, dtype: int64

In [15]:
x.head()

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    0  38.0  71.2833
2       3    0  26.0   7.9250
3       1    0  35.0  53.1000
4       3    1  35.0   8.0500

**Train Test Split**

In [16]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, target, test_size = 0.2, random_state=3)
x_test.head()

     Pclass  Sex        Age     Fare
395       3    1  22.000000   7.7958
85        3    0  33.000000  15.8500
201       3    1  29.699118  69.5500
542       3    0  11.000000  31.2750
702       3    0  18.000000  14.4542

**Model Making**

In [17]:
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [18]:
model.score(x_test, y_test)

0.7932960893854749

**Check for Overfitting and Underfitting:**

In [19]:
# Over = low training high testing error
# Under = high training high testing error

from sklearn.metrics import accuracy_score
y_pred_train = model.predict(x_train)
acc_train = accuracy_score(y_train, y_pred_train)
print("Accuracy from Training data : ", acc_train*100)

y_pred_test = model.predict(x_test)
acc_test = accuracy_score(y_test, y_pred_test)
print("Accuracy from Testing data : ", acc_test*100)

diff = acc_test - acc_train
print(diff*100)

Accuracy from Training data :  98.17415730337079
Accuracy from Testing data :  79.3296089385475
-18.8445483648233

# **Random Forests**

Random forests = set of several decision trees. 
Cons of Decision Treees:
1. High variance -> minimal change in data set leads to a high manipulation in the tree.
2. Overfitting: high test error and low train error.

What happens is the decision tree makes the model in such a way that it tries to fit the model very close to the training data. 

So we make set of several trees and take the average of the label we predict frome each and every tree.

In [4]:
from sklearn.ensemble import RandomForestClassifier

In [45]:
rf = RandomForestClassifier(n_estimators=40,  max_depth = 5, criterion='entropy')

In [46]:
rf.fit(x_train, y_train)

RandomForestClassifier(criterion='entropy', max_depth=5, n_estimators=40)

In [47]:
rf.score(x_test, y_test)

0.7877094972067039

In [48]:
rf.score(x_train, y_train)

0.8707865168539326

In [56]:
diff = 0.8707865168539326 - 0.7877094972067039
ans = 40
for i in range(1, 51):
    rf = RandomForestClassifier(n_estimators=i,  max_depth = 5, criterion='entropy')
    rf.fit(x_train, y_train)
    cur_diff = rf.score(x_train, y_train) - rf.score(x_test, y_test)
    if cur_diff < diff:
        diff = cur_diff
        ans = i
print(f"Max accuracy = {ans} with diff = {diff}")

Max accuracy = 12 with diff = 0.0466229364132823